<h1>Hello from FastAPI todo-app</h1>
<img [src]="imageURL()" alt="Random Image" style="max-width: 60vw; height: 60vh;">
<div>
    <input type="text" [(ngModel)]="newTodoTitle" id="todo-input" maxlength="140" placeholder="Enter a todo (max 140 chars)">
    <button type="button" (click)="createTodo()">Create todo</button>
</div>

<h3>Todo List ({{ activeTodos().length }})</h3>
<ul>
    @for (todo of activeTodos(); track todo.id) {
        <li>
            <span>{{ todo.title }}</span>
            <button type="button" (click)="markAsDone(todo)">Mark as done</button>
        </li>
    }
</ul>

<h3>Done ({{ completedTodos().length }})</h3>
<ul>
    @for (todo of completedTodos(); track todo.id) {
        <li>
            <span [class.completed]="todo.completed">{{ todo.title }}</span>
        </li>
    }
</ul>

<h5>Devops with Kubernetes University of Helsinki</h5>