apiVersion: apps/v1
kind: Deployment
metadata:
  name: logoutput-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logoutput
  template:
    metadata:
      labels:
        app: logoutput
    spec:
      containers:
        - name: log-generator
          image: roslinmahmud/log-generator:latest
          volumeMounts:
            - name: shared-log
              mountPath: /app/files
        - name: log-response
          image: roslinmahmud/log-response:latest
          env:
            - name: MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: log-output-config
                  key: MESSAGE
          volumeMounts:
            - name: shared-log
              mountPath: /app/files
            - name: config-volume
              mountPath: /etc/config
      volumes:
        - name: shared-log
          emptyDir: {}
        - name: config-volume
          configMap:
            name: log-output-config