apiVersion: apps/v1
kind: Deployment
metadata:
  name: logoutput-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logoutput
  template:
    metadata:
      labels:
        app: logoutput
    spec:
      volumes:
        - name: shared-log
          emptyDir: {}
      containers:
        - name: log-generator
          image: roslinmahmud/log-generator:latest
          volumeMounts:
            - name: shared-log
              mountPath: /app/files
        - name: log-response
          image: roslinmahmud/log-response:latest
          volumeMounts:
            - name: shared-log
              mountPath: /app/files