apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      volumes:
        - name: shared-log
          persistentVolumeClaim:
            claimName: file-claim   # same PVC as log-output
      containers:
        - name: pingpong
          image: roslinmahmud/ping-pong:latest
          volumeMounts:
            - name: shared-log
              mountPath: /app/files
