apiVersion: apps/v1
kind: Deployment
metadata:
  name: todoapp-dep
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todoapp
  template:
    metadata:
      labels:
        app: todoapp
    spec:
      containers:
        - name: todoapp
          image: roslinmahmud/todo-app:latest
          volumeMounts:
            - name: files-volume
              mountPath: /app/files
      volumes:
        - name: files-volume
          persistentVolumeClaim:
            claimName: todo-pvc