apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: todo-backend-config
  namespace: project
spec:
  healthCheck:
    checkIntervalSec: 10
    timeoutSec: 5
    healthyThreshold: 1
    unhealthyThreshold: 2
    type: HTTP
    requestPath: /healthz
    port: 8000